/* ===== General Styling ==== */

* {
   box-sizing: border-box;
}

html {
    background-color: lightblue;
}

.search-container {
    display: grid;
    margin: auto;
    border-radius: 5px;
    border: 2px solid lightgray;
}

input {
    width: 520px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

body {
    margin-top: 25px;
    margin-bottom: 25px;
}

img {
    border-radius: 15px;
    border: 1px solid black;
}

/* ===== Grid Layout ==== */

.gallery {
    max-width: 900px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 25px 5px;
    margin: auto;
    padding-top: 20px;
    justify-items: center;
}
  
